* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

section {
  position: relative;
  background-color: #999999;
}

section > div {
  position: absolute;
  right: -1px;
  top: -1px;
  padding: 0px 15px 0px 15px;
  border: 1px solid black;
  display: inline;
}

#title1 {
  background-color: #D59898
}

#title2 {
  background-color: #C14543
}

#title3 {
  background-color: #E5D198
}


/********** Desktop devices **********/
@media (min-width: 992px) {
  .col-lg-4 {
    width: 32%;
    float: left;
    border: 1px solid black;
    margin: 0.5%;
    padding: 15px;
  }
}

/********** Tablet devices **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 49%;
    float: left;
    border: 1px solid black;
    margin: 0.5%;
    padding: 15px;
  }

  section:nth-child(odd):last-child {
    width: 99%;
  }
}

/********** Mobile devices **********/
@media (max-width: 767px) {
  .col-sm-12 {
    width: 99%;
    float: left;
    border: 1px solid black;
    margin: 0.5%;
    padding: 15px;
  }
}
