body {
	background-color: #e5e5e5;
}

.navbar-brand h1 {
	margin: 0px;
	/*font-size: 1.75em;*/
	line-height: .7em;
	font-family: 'Indie Flower', cursive;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
}

#header-nav {
	background-color: #9799b2;
	border-radius: 0px;
/*	border-color: #000;
	border: 1px solid black;*/
}

.navbar-brand > a:hover {
	text-decoration: none;
}

.navbar-brand h1:hover {
	color: cyan;
}

h2.menu-header {
	margin-top: 0px;
	color: #56371a;
	font-family: 'Indie Flower', cursive;
	font-size: 2.5em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #CEC669;
}

.menu-articles {
	font-family: 'Patrick Hand', cursive;
}

.menu-articles h3 {
	background-color: #cec669;
	margin-bottom: 0px;
	padding-top: 15px;
	text-align: center;
	font-size: 1.7em;
	font-weight: bold;
}

.menu-articles p {
	background-color: #cec669;
	padding: 15px 15px 35px 15px;
	font-size: 1.5em;
}

/*.menu-articles a {
	background-color: #cec669;
	padding: 0px;
	margin-top: 0px;
}*/

section.menu-articles {
	position: relative;
}

div.end-section {
	position: absolute;
	bottom: 15px;
	padding-left: 15px;
	padd
	margin-top: 25px;
	background-color: #cec669;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1.1em;
}

/********** Small devices only **********/
@media (max-width: 768px) {

	#collapsable-nav ul {
		text-align: center;
		font-family: 'Indie Flower', cursive;
		font-weight: bold;
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 1.75em;
	}

	#collapsable-nav {
		background-color: #ffffff;
	}

/*	#collapsable-nav hr {
		color: black;
		background-color: black;
		height: 1px;
	}*/
}